.App {
  background-color: #282c34;
  text-align: center;
}


.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-body {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.small {
  font-size: 0.75rem;
}


.control-board {
  margin-bottom: 60px;
  display: grid;
  min-width: 50vw;
  color: black;
  background: white;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3,1fr);
  min-height: 3vh;
}

.reset-button {
  background: #d62828;
  margin-bottom: 60px;
  min-width: 15vw;
  min-height: 3vh;
  align-content: center;

}

.board-element {
  border: 1px solid black;
  align-content: center;
}

.start-button {
  background: #0496ff;
}

.stop-button {
  background: #d62828;
}

.input {
  border: 1px solid #999;
}

.timer {
  background: #ced4da;
  justify-items: end;
}


.game-board {
  display: grid;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 18vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 18vw;
}